<%= render 'layouts/header' %>
<h3 class="home_link">Look up a book by title</h3>

	<%= form_tag(books_index_path, :method=>"get") do %>
      <%= text_field_tag(:choice_title) %>
      <%= submit_tag("SELECT", :class=>"btn") %>
  <% end %>


  



