
<%= render 'layouts/header_min' %>
<div class="row">
	<div class="col-lg-offset-3 col-lg-6" id="home_menu_wrapper">

		<div class="row" id="home_menu">

					<div class="box col-lg-6">
						<%= link_to "Search Books", books_new_path %>
					</div>
					<div class="box col-lg-6">
						<%= link_to "Search Bookstores", '#', id: "stores" %>
					</div>
				
		</div>
	</div>
</div>