
<%= render 'layouts/header_min' %>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8" id="home_menu_wrapper">

		<div class="row" id="home_menu">

					<div class="box col-lg-5">
						<%= link_to image_tag("books.png", 
							:onmouseover => "this.src='/assets/books_hover.png'", 
							:onmouseout => "this.src='/assets/books.png'"), 
							books_new_path %>
						<div class="hidden row" id="hide_target">
						<div class="col-lg-12" >
							<h2>Search Books</h2>
						</div>
						</div>
					</div>
					<div class="box col-lg-offset-2 col-lg-5">
						<%= link_to image_tag("bookstores.png", 
							:onmouseover => "this.src='/assets/bookstores_hover.png'", 
							:onmouseout => "this.src='/assets/bookstores.png'"), 
							bookstores_new_path %>
						<div class="hidden row" id="hide_stores">
						<div class="col-lg-12" >
							<h2>Search Bookstores</h2>
						</div>
						</div>
					</div>
				
		</div>
	</div>
</div>