<%= render 'layouts/header' %>

<div id="message"></div>

<div style='width: 800px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>
<%= include_gon %>
<%= @book_stores %>

<script>
	console.log(gon.test);
	$(document).ready(function(){
	  var handler = Gmaps.build('Google');
	  handler.buildMap({ 
	    provider: {
	     minZoom: 10 ,
	    },
	    internal: {id: 'map'}
	  	}, function(){
	    if(navigator.geolocation)
	    	navigator.geolocation.getCurrentPosition(displayOnMap);
	    	// navigator.geolocation.getCurrentPosition(send_data);
	    markers = handler.addMarkers(<%= raw @hash.to_json %>);
	    handler.bounds.extendWith(markers);
	    handler.fitMapToBounds();
	    handler.getMap().setZoom(15);
	  });

	  function displayOnMap(position){
		  var marker = handler.addMarker({
		    lat: position.coords.latitude,
		    lng: position.coords.longitude,
		    infowindow: "You Are Here"
		  });
	  	handler.map.centerOn(marker);
		};

		function send_data(position) {
			var form = document.createElement("form");
			form.method = 'post';
			form.action = '/submit_map';
			var input = document.createElement('input');
			input.type = "number";
			input.name = "lat";
			input.value = position.coords.latitude;
			form.appendChild(input);
			var input2 = document.createElement('input');
			input2.type = "number";
			input2.name = "lng";
			input2.value = position.coords.longitude;
			form.appendChild(input2);
			form.submit();
		}
	});
</script>