<%= render 'layouts/header' %>

<div id="message"></div>

<div style='width: 800px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>

<script>
	$(document).ready(function(){
	  var handler = Gmaps.build('Google');
	  handler.buildMap({ 
	    provider: {
	      // google options here
	     // zoom: 20,
	     minZoom: 10 ,
	    },
	    
	    internal: {id: 'map'}
	  }, function(){
	    if(navigator.geolocation)
	    	navigator.geolocation.getCurrentPosition(displayOnMap);
	    markers = handler.addMarkers(<%= raw @hash.to_json %>);
	    handler.bounds.extendWith(markers);
	    handler.fitMapToBounds();
	    handler.getMap().setZoom(15); 
	  });

	  function displayOnMap(position){
		  var marker = handler.addMarker({
		    lat: position.coords.latitude,
		    lng: position.coords.longitude,
		    infowindow: "You Are Here"
		  });
	  // put on click here!
	  handler.map.centerOn(marker);
		};
	});
</script>