// Place all the styles related to the bookstores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'color';

/*================================
----------- GENERAL --------------
================================= */

#body_full {
	height: 100%;
}

.container-fluid {
	background-color: $beige;
	font-family: 'Glegoo', serif;
	height: 100%;
	padding-bottom: 70px;
}

.red_line {
	border-color: $dark_red;
}

.dotted_line {
	text-align: right;
	border: 1px dotted $green;
	width: 200px;
}

/*================================
--------- HEADER/FOOTER -----------
================================= */

#login_username {
	font-size: .9em;
	background-color: $dark_red;
	color: $beige;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header_hi {
	font-family: 'Petit Formal Script', cursive;
	float: left;
}

#logout {
	a {
		color: $lt_green;
		&:hover {
			color: $green;
			text-decoration: none;
		}
	}
	font-size: 1.1em;
	float: right;
}

#logo {
	text-align: center;
	background-color: $brown;
	padding-top: 5px;
	padding-bottom: 10px;
	h1 {
		margin-bottom: 0;
		font-size: 3.2em;
	}
	h4 {
		font-family: 'Glegoo', serif;
		color: $lt_green;
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: .8em;
	}
	a {
		color: $beige;
	}
	a:hover {
		text-decoration: none;
		color: $dark_red;
	}
}

#header_menu {
	font-family: 'Petit Formal Script', cursive;
	padding-left: 0;
	// background-color: $lt_green;
	padding-top: 5px;
	padding-bottom: 2px;
	li {
		font-size: 1.4em;
		list-style-type: none;
		display: inline;
		padding-left: 20px;
		padding-right: 20px;
		a {
			color: $beige;
		}
		a:hover {
			color: $lt_green;
			text-decoration: none;
		}
	}
}

footer {
	background-color: $dark_red;
	color: $beige;
	padding: 10px;
	padding-bottom: 0;
	margin-top: 200px;
	font-size: .8em;
}

.align_right {
	margin-right: 3%;
	float: right;
}

.align_left {
	float: left;
	margin-left: 3%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 5em;
}
/*================================
-------------- HOME --------------
================================= */

.home_link {
	background-color: $brown;
	color: $lt_green;
}

#home_menu_wrapper {
	margin-top: 10px;
	font-size: 1.4em;
	text-align: center;
	font-family: 'Petit Formal Script', cursive;
}

#home_menu {
	margin: 0 auto;
}

#column_container_4 {
	padding-right: 0;
	padding-left: 0;
}

#column_container_8 {
	padding-left: 0;
	padding-right: 0;
	border-left: 4px solid $green;
}

.box {
	background-color: white;
	height: 200px;
	width: 100%;
	// border-radius: 25px;
	margin: 0 auto;
	border-bottom: 4px solid $green;
	a {
		position: relative;
		top: 35%;
		color: $dark_red;
	}
	a:hover {
		color: $red;
		text-decoration: none;
		border-top: 1px solid $green;
		border-bottom: 1px solid $green;
		font-size: 1.2em;
	}
	h1 {
		margin: 0;
	}
}

.box2 {
	background-color: white;
	font-family: 'Glegoo', serif;
	height: 60px;
	width: 100%;
	// border-radius: 	25px;
	margin: 0 auto;
	border-bottom: 4px solid $green;
	a {
		position: relative;
		top: 25%;
		color: $lt_green;
		font-size: .8em;
	}
	a:hover {
		color: $red;
		text-decoration: none;
		border-top: 1px solid $lt_green;
		border-bottom: 1px solid $lt_green;
		font-size: 1em;
	}
}

#box3 {
	height: 280px;
	background-color: $brown;
	border: none;
	border-bottom: 4px solid $green;
}

/*================================
-------- SIGN IN / SIGN UP -------
================================= */

.sign_in_wrapper {
	margin-bottom: 140px;
}

#sign_in {
	margin-top: 20px;
}

#account {
	margin-top: 10px;
	p:first-child{
		font-family: 'Petit Formal Script', cursive;
		font-size: 1.1em;
	}
	p:last-child {
		font-size: 1em;
		a {
			color: white;
		}
	}
}

#signin1 {
	height: 180px;
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	h1 {
		color: $beige;
	}
	p {
		color: $dark_red;
		margin-bottom: 0;
	}
	background-color: $green;
	// border-top: 4px solid white;
	border-bottom: 14px solid $brown;
}

#signin2 {
	height: 240px;
	text-align: right;
	label {
		color: $dark_red;
		padding-bottom: 0;
		padding-top: 15px;
		font-size: 1.4em;
	}
	input {
		padding-top: 0;
		color: $lt_green;
		background-color: $brown;
		text-align: right;
	}
	input:last-child {
		font-family: 'Petit Formal Script', cursive;
		text-align: center;
		padding: 10px;
		width: 100%;
		font-size: 1.2em;
		margin-top: 20px;
		color: $beige;
		background-color: $dark_red;
		&:hover {
			background-color: $red;
			color:$lt_green;
		}
	}
}

.space {
	height: 50px;
}

/*================================
----------- USERS INDEX ----------
================================= */

#member_list_wrapper {
	margin-top: 25px;
	text-align: center;
	.index_left {
		background-color: $green;
		padding: 20px;
		h1 {
			color: $beige;
		}
		h4 {
			margin-top: 15px;
			font-family: 'Petit Formal Script', cursive;
			color: $dark_red;
		}
	}
	.index_right {
		padding-right: 15px;
		.users {
			padding-left: 0;
			li {
				text-align: right;
				list-style-type: none;
				color: $brown;
				h3 {
					a {
						color: $dark_red;
						&:hover {
							color: $red;
							text-decoration: none;
						}
					}
					font-family: 'Petit Formal Script', cursive;
				}
			}
		}
	}
}

.favorite_book {
	color: $green;
}


/*================================
----------- USERS SHOW -----------
================================= */

#profile_info {
	margin-top: 30px;
	text-align: center;
	background-color: $green;
	color: $beige;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: $dark_red;
	}
}

.profile_books {
	margin-top: 30px;
	text-align: center;
	h2 {
		color: $dark_red;
		padding-bottom: 20px;
		width: 300px;
		margin: 10px auto;
		border-bottom: 2px solid $lt_green;
	}
}

.big_number {
	padding-left: 0;
	text-align: left;
	list-style-position: inside;
	font-family: 'Petit Formal Script', cursive;
	li {
		font-size: 8em;
		color: $dark_red;
	}
}

#rankings {
	text-align: center;
	font-family: 'Glegoo', serif;
	font-size: 16px;
	padding-left: 0;
	margin-left: 0;
	color: $green;
}

.smaller {
	font-size: 14px;
	color: $brown;
}




/*================================
----------- MEDIA QUERIES ----------
================================= */

@media only screen and (max-width: 640px) {
  
	#header_menu {
		padding-top: 10px;
		ul {
			padding-left: 0;
		}
		li {
			&:first-child {
				border-top: 10px solid $dark_red;
			}
			padding: 5px;
			font-size: 1em;
			list-style-type: none;
			display: block;
			border-bottom: 1px solid $dark_red;
		}
	}

}
