// Place all the styles related to the bookstores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'color';

/*================================
----------- GENERAL --------------
================================= */

.container-fluid {
	background-color: $beige;
}

/*================================
------------ HEADER --------------
================================= */

#logo {
	text-align: center;
	background-color: $brown;
	color: $dark_red;
}


/*================================
-------------- HOME --------------
================================= */

.home_link {
	background-color: $brown;
	color: $lt_green;
}

#home_menu_wrapper {
	margin-top: 10px;
}

#home_menu {
	font-size: 1.4em;
	text-align: center;
	padding-left: 0;
	li {
		list-style-type: none;
		a {
		color: $brown;
		}
		a:hover {
			color: $red;
			text-decoration: none;
			border-top: 1px solid $lt_green;
			border-bottom: 1px solid $lt_green;
			font-size: 1.2em;
		}
	}
}