// Place all the styles related to the bookstores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'color';

/*================================
----------- GENERAL --------------
================================= */

#body_full {
	height: 100%;
}

.container-fluid {
	background-color: $green;
	color: white;
	font-family: 'Glegoo', serif;
	height: 100%;
	padding-bottom: 70px;
}

.red_line {
	border-color: white;
}

.thick_line {
	border: 3px solid white;
}

.dotted_line {
	text-align: right;
	border: 1px dotted white;
	width: 200px;
}

#flash_alert {
	background-color: $dark_red;
	color: white;
	text-align: center;
}

.paginate {
	text-align: center;
}


/*================================
--------- HEADER/FOOTER -----------
================================= */

#login_username {
	font-size: .9em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header_hi {
	font-family: 'Petit Formal Script', cursive;
	float: left;
}

#logout {
	a {
		color: white;
		&:hover {
			color: $dark_red;
			text-decoration: none;
		}
	}
	font-size: 1.1em;
	float: right;
}

#logo {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	a {
		color: white;
	}
	a:hover {
		text-decoration: none;
		color: $dark_red;
	}
}

#header_menu {
	font-family: 'Glegoo', serif;
	padding-left: 0;
	// background-color: $lt_green;
	padding-top: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid white;
	ul {
		padding-left: 0;
	}
	li {
		font-size: 1.4em;
		list-style-type: none;
		display: inline;
		padding-left: 20px;
		padding-right: 20px;
	}
	li:hover {
			color: $dark_red;
			text-decoration: none;
			background-color: white;
			border-radius: 25px;
	}
}

footer {
	background-color: white;
	color: $green;
	padding: 10px;
	padding-bottom: 0;
	margin-top: 300px;
	font-size: .8em;
}

.align_right {
	margin-right: 3%;
	float: right;
}

.align_left {
	float: left;
	margin-left: 3%;
}


/*================================
-------------- HOME --------------
================================= */


#home_menu_wrapper {
	margin-top: 10px;
	font-size: 1.4em;
	text-align: center;
	font-family: 'Petit Formal Script', cursive;
}

#home_menu {
	height: 300px;
}

.box {
	width: 100%;
	// border-radius: 25px;
	margin: 40px auto;
	font-size: 1.4em;
	a {
		color: white;
		position: relative;
		top: 35%;
	}
	a:hover {
		color:white;
		text-decoration: none;
		font-size: 1.2em;
	}
	h1 {
		margin: 0;
	}
}

#box3 {
	height: 280px;
	border: none;
}

/*================================
-------- SIGN IN / SIGN UP -------
================================= */

.sign_in_wrapper {
	margin-bottom: 140px;
}

#sign_in {
	margin-top: 20px;
}

#account {
	margin-top: 10px;
	p:first-child{
		font-family: 'Petit Formal Script', cursive;
		font-size: 1.1em;
	}
	p:last-child {
		font-size: 1em;
		a {
			color: white;
			text-decoration: underline;
			&:hover {
				color: $dark_red;
			}
		}
	}
}

#signin1 {
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
	h4 {
		color: white;
	}
	p {
		color: white;
		margin-bottom: 0;
	}
}

#signin2 {
	margin-top: 10px;
	text-align: right;
	h1 {
		text-align: center;
	}
	h3 {
		border-bottom: 1px solid white;
		text-align: center;
	}
	label {
		color: white;
		padding-bottom: 0;
		padding-top: 15px;
		font-size: 1.4em;
	}
	input {
		padding-top: 0;
		color: $green;
		background-color: white;
		text-align: right;
		border-color: white;
	}
}

#signin_button {
	text-align: center;
	input {
		font-family: 'Petit Formal Script', cursive;
		text-align: center;
		margin: 10 auto;
		width: 140px;
		font-size: 2em;
		margin-top: 25px;
		color: white;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: $green;
		&:hover {
			background-color: white;
			color: $green;
		}
	}
}

.space {
	height: 50px;
}

#essentials {
	text-align: left;
	border-right: 6px solid white;
	input {
		text-align: left;
		color: $dark_red;
	}
}

#group {
	color: white;
	border: 1px solid white;
	text-align: right;
	padding-bottom: 10px;
	legend {
		color: white;
		border-bottom: none;
		margin-bottom: 4px;
	}
}

.collection-check-box {
	display: block;
	font-size: .6em;
	float: right;
  width: 33%;
  text-align: left;
}

/*================================
----------- USERS INDEX ----------
================================= */

#member_list_wrapper {
	margin-top: 25px;
	text-align: center;
}

.users_favs {
	text-align: center;
	p {
		font-family: 'Petit Formal Script', cursive;
		font-size: 1.3em;
		color: $green;
		background-color: white;
		width: 200px;
		margin: 5px auto;
		border-radius: 25px;
	}
}

.index {
	padding: 0;
	.users {
		padding-left: 0;
		text-align: center;
		li {
			text-align: center;
			list-style-type: none;
			color: white;
			h1 {
				a {
					color: white;
					border-bottom: 2px solid white;
					margin-bottom: 10px;
					&:hover {
						color: $dark_red;
						text-decoration: none;
					}
				}
				font-family: 'Petit Formal Script', cursive;
			}
		}
	}
}

.index_half {
	height: 220px;
	img {
		border: 3px solid white;
	}
}



/*================================
----------- USERS SHOW -----------
================================= */

#profile_info {
	margin-top: 10px;
	text-align: center;
	border-radius: 25px;
	color: $green;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: $dark_red;
		display: inline;
	}
	h1 {
		font-family: 'Petit Formal Script', cursive;
		border-bottom: 1px solid $green;
		text-align: center;
	}
}

#edit_row {
	h2 {
		font-family: 'Glegoo', serif; 
		border: none;
		text-align: right;
	}
}

#edit_img {
	text-align: left;
}

.profile_books {
	margin-top: 30px;
	text-align: center;
	h2 {
		color: white;
		padding-bottom: 20px;
		width: 300px;
		margin: 10px auto;
		border-bottom: 2px solid white;
	}
}

.big_number {
	padding-left: 0;
	padding: 10px;
	text-align: left;
	list-style-position: inside;
	font-family: 'Petit Formal Script', cursive;
	li {
		font-size: 8em;
		color: white;
		margin-bottom: 5px;
	}
}

#rankings {
	text-align: center;
	font-family: 'Glegoo', serif;
	font-size: 16px;
	padding-left: 0;
	margin-left: 0;
	color: white;
	img {
		border: 3px solid white;
	}
}

.smaller {
	font-size: 14px;
	color: white;
}

.smaller2 {
	font-size: 12px;
	color: white;
}

#book_lookup {
	text-align: center;
	background-color: white;
	padding-bottom: 10px;
	margin-bottom: 20px;
	.searched {
		color: $dark_red;
		font-size: 1.9em;
	}
	h3 {
		color: $green;
	}
	input {
		margin-bottom: 10px;
		background-color: $green;
		color: white;
	}
	input:last-child {
		background-color: $green;
		color: white;
		&:hover {
			color: $dark_red;
		}
	}
	#choice_title {
		width: 300px;
	}
}

.dogear_lists {
	h2 {
		text-align: center;
		color: white;
		padding-bottom: 20px;
		width: 220px;
		margin: 0 auto;
		border-bottom: 1px solid white;
	}
}

.favs_not {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.smaller3{
	font-size: 14px;
	background-color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 10px solid $dark_red;
	a {
		color: $green;
	}
	a:hover {
		background-color: $dark_red;
		color: white;
		text-decoration: none;
	}
	&:first-child {
		border-right: 1px solid $dark_red;
	}
}

#divider {
	border-right: 1px solid white;
}

#book_message {
	color: $red;
}

.sorted {
	cursor: move;
	&:hover {
		background-color: $lt_green;
		border-radius: 100%;

	}
}


/*================================
----------- MEDIA QUERIES ----------
================================= */

@media only screen and (max-width: 640px) {
  
	#header_menu {
		padding-top: 10px;
		border-bottom: none;
		ul {
			padding-left: 0;
		}
		li {
			&:last-child {
				
			}
			padding: 5px;
			font-size: 1em;
			list-style-type: none;
			display: block;
			border-bottom: 1px solid white;
		}
	}

}
