<div><div class="push"></div></div>
<div class="row wrapper">
	<footer class="col-lg-12 footer">
	<p>
		<span class="align_left">&#169;2015, DogEar</span>
		<span class="align_right">designed by Vivek Gahunia</span>
	</p>
</footer>
</div>